@model Assignment8.Models.AlbumAddFormViewModel

@{
    ViewBag.Title = "AddAlbum";
}

<h2>Add album for artist @Model.ArtistName</h2>
<p class="text-info">Complete the form, and click the Submit button</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", autofocus = "autofocus", required = "required" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReleaseDate, htmlAttributes: new { @class = "control-label col-md-2", autofocus = "autofocus", required = "required" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReleaseDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ReleaseDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Genre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Genre", Model.GenreList, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Genre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UrlAlbum, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UrlAlbum, new { htmlAttributes = new { @class = "form-control", autofocus = "autofocus", required = "required" } })
                @Html.ValidationMessageFor(model => model.UrlAlbum, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="row">

            <div class="col-md-offset-2 col-md-4 checkbox well">
                <p><strong>All Artists</strong></p>

                @foreach (var item in Model.ArtistList)
                {
                    <label><input type="checkbox" name="ArtistIds" checked="@item.Selected" value="@item.Value" />@item.Text </label><br />
                }
            </div>



            <div class="col-md-offset-1 col-md-4 checkbox well">
                <p><strong>All Tracks</strong></p>
                @foreach (var item in Model.TrackList)
                {
                    <label><input type="checkbox" name="TrackIds" value="@item.Value" />@item.Text </label><br />
                }
            </div>

        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-default" />
                @Html.ActionLink("Cancel", "Index", "Artists", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}
